* {
    background-color: rgb(0, 206, 209);
}


.container {
    height: 100%;
}

.nav {
    display: flex;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 80px;
}

.primeiro-bloco {
    background-color: rgb(0, 139, 139);
    width: 33.3%;
    margin-right: 12px;
    border-radius: 10px;
}

.segundo-bloco {
    background-color: rgb(64, 224, 208);
    width: 66.6%;
    border-radius: 10px;
}

.main {
    display: flex;
    height: 350px;
    gap: 10px;
    padding-bottom: 20px;
}

.terceiro-bloco {
    background-color: rgb(32, 178, 170);
    width: 33.3%;
    border-radius: 10px;
}

.quarto-bloco {
    background-color: rgb(0, 128, 128);
    width: 32.3%;
    border-radius: 10px;
}

.quinto-bloco {
    background-color: rgb(72, 209, 204);
    width: 33.3%;
    border-radius: 10px;
}

.footer {
    display: flex;
    height: 150px;
    width: 100%;
}

.sexto-bloco {
    background-color: rgb(127, 255, 212);
    height: 100px;
    border-radius: 10px;
}